<div class="side-bar-main">
  <div class="logo">
    <img
      class="image-logo"
      src="../../../assets/CharacterVaultLogo.png"
      alt="Logo Character Vault"
    />
  </div>
  <nav class="menu">
    <ul>
      <li class="item-menu">
        <a href="" class="item">Lorem</a>
      </li>
      <li class="item-menu">
        <a href="" class="item">Ipsun</a>
      </li>
      <li class="item-menu">
        <a href="" class="item">Dolor</a>
      </li>
      <li class="item-menu">
        <a href="" class="item">Sit</a>
      </li>
      <li class="item-menu">
        <a href="" class="item">Amet</a>
      </li>
    </ul>
  </nav>
</div>
